body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#title {
    background-color: rgb(253, 219, 178);
    color: rgb(71, 77, 82);
}

.title-heading {
    font-size: 4.2rem;
    font-weight: 700;
    margin-top: 5%;
    padding-left: 5%;
    text-align: center;
}

.title-img {
    transform: rotate(30deg);
    margin-left: 100px;
    width: 60%;
    height: 75%;
    margin-top: 10%;
}
@media screen and (min-width: 768px) {
    .title-img {
        transform: rotate(0deg);
        margin-left: 150px;
    }
    #title .btn {
        padding-inline: 25%;
    }
}

#features {
    padding: 5%;
    text-align: center;
    background-color: rgb(247, 230, 230);

}

.feature-heading {
    font-size: 1.75rem;
    font-weight: 800;

}

.icon {
    color: rgb(233, 114, 114);
}

.icon:hover {
    color: red;
    transition: 1s;
}

p {

    color: #8f8f8f;
}

.testimonials {
    background-color: bisque;
    text-align: center;
    font-size: 1.5rem;
    color: #4b4a4a;
}

.testimonial-h2 {
    font-size: 2.9rem;
    font-weight: bold;
}

.testimonial-image {
    width: 110px;
    border-radius: 100%;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: bisque;
    padding-bottom: 5%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 7%;
    text-align: center;
    background-color: rgb(245, 229, 229);

}

.pricing-h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;

}

#pricing .price-para {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 50px;
}

#pricing p
{
    color: #494646;
    font-size: 1rem;
    font-weight: 400;
}

.card {
    height: 95%;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.btn {
    margin-top: 39px;
}

.sign-btn {
    margin-top: -0px;
}

.card-header {
    color: brown;
}

#cta {
    background-color: bisque;
    color: rgb(68, 74, 78);
    text-align: center;
    padding: 7% 15%;
}

.cta-heading {
    font-size: 3.75rem;
    font-weight: 1000;
    margin-bottom: 50px;
}

.endbtn {
    margin-right: 30px;
}

#footer {
    background-color: #ededed;
    padding: 1%;
    text-align: center;
}

.twitter {
    margin-right: 15px;
}

.twitter:hover {
    color: rgb(99, 180, 255);
    transition: 1sec;
}

.instagram {
    margin-right: 15px;
}

.instagram:hover {
    color: rgb(233, 28, 79);
    transition: 1sec;
}

.facebook {
    margin-right: 15px;
}

.facebook:hover {
    color: rgb(27, 128, 223);
    transition: 1sec;
}

.envelop {
    margin-right: 15px;
}

.envelop:hover {
    color: rgb(41, 189, 0);
    transition: 1sec;
}